.tabla-edicion{
    display: grid;
    grid-template-columns: auto  ;
   

}
.barra-busqueda-edicion{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.edicion-cards{
    display: flex;
 
    margin: 20px;

  
    
    
}

.textos-edicion{
    
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: auto;
}

.propiedades-edicion{
    display: flex;
    flex-direction: column !important;
    width: 100%;
}
.titulo-edicion{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    text-decoration: underline;
}
.subtitulo-edicion{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    text-decoration: underline;
}
.aplicaciones-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}
.aplicaciones-grid p{
    display: flex;
    font-weight: lighter;
    font-size: 0.8rem;
    margin: auto 10px;
}
.aplicaciones-grid button{

}
.botones-tipoEdicion{
    display: flex;
    justify-content: center;
    padding: 5px;
    
}
.botones-tipoEdicion button{
    margin: 5px;
}
/* .propiedades-edicion span{
    width: 50px;
    margin-top: 10px;
    margin-right: 20px !important;
} */
.propiedades-edicion select{
   
    width: 82%;
    height: 25px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    
}
/* .propiedades-edicion input{
    display: flex;
    height: 20px;
    width: 7%;
    margin: 2px;
    
} */
.propiedades-edicion ::placeholder{
    color: black;
    opacity: 0.6;

}
/* .marca-edicion{
    display: flex;
    width: 100px;
    margin-top: 3px;
    font-weight: bold;
    margin-left: -40px;
    
} */
.propiedades-principales-edicion{
    display: flex;
    width: 90%;
    
}
.propiedades-principales-edicion span{
   display: flex;
   width: 10%;
   font-size: 1.1rem;
   margin: 0 !important;
}

.falso-span-edicion{
    display: flex;
    width: 80% !important;
    height: 20px !important;
    font-size: 0.8rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.falso-span-edicion7{
    display: flex;
    border: 1px solid black;
    padding: 5px;
    width: 80% !important;
    height: auto !important;
    font-size:0.9rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.falso-span-edicion4{
    display: flex;
    width: 80% !important;
    height: 20px !important;
    font-size: 0.8rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.falso-span-edicion5{
    display: flex;
    width: 80% !important;
    height: 30px !important;
    font-size: 0.8rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.falso-span-edicion2{
    display: flex;
    width: 80% !important;
    height: 20px !important;
    font-size: 0.8rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.falso-span-edicion3{
    display: flex;
    width: 100% !important;
    font-size: 1.3rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.icono-edicion{
    display: flex;
    height: 25px;
    width: 25px;
    margin: 10px 5px;
    cursor: pointer;
    
}
.iconos-edicion-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}