.tabla-edicion{
    display: grid;
    grid-template-columns: auto ;

}
.barra-busqueda-edicion{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.edicion-cards{
    display: flex;
    margin: 20px;
    
    
}

.textos-edicion{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 240px;
}

.propiedades-edicion{
    display: flex;
    width: 90%;
}
.titulo-edicion{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    text-decoration: underline;
}
/* .propiedades-edicion span{
    width: 50px;
    margin-top: 10px;
    margin-right: 20px !important;
} */
.propiedades-edicion select{
   
    width: 100px;
    height: 25px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    
}
/* .propiedades-edicion input{
    display: flex;
    height: 20px;
    width: 7%;
    margin: 2px;
    
} */
.propiedades-edicion ::placeholder{
    color: black;
    opacity: 0.6;

}
/* .marca-edicion{
    display: flex;
    width: 100px;
    margin-top: 3px;
    font-weight: bold;
    margin-left: -40px;
    
} */
.propiedades-principales-edicion{
    display: flex;
    width: 90%;
    
}
.propiedades-principales-edicion span{
   display: flex;
   width: 10%;
   font-size: 1.1rem;
   margin: 0 !important;
}

.falso-span-edicion{
    display: flex;
    width: 7% !important;
    height: 20px !important;
    font-size: 1.2rem !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}