@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300;400&display=swap');

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}
a{
  text-decoration: none;
}


.inputs{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.inputs input{
  display: flex;
  height: 40px;
  margin: 5px;
}
