

.fondo-inicioProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
   
    background-image: url("/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
}

.logo-inicio{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
}


   
  .botonera{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    height: 300px;
    margin-top: -100px;
    
  }

  .button-30 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #063970 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1.5rem;
    margin-right: 30px;
    margin-top: 20px;
  }
  
 
  .button-30:hover,.button-31:hover {

    transform: translateY(-10px);
  }
  .botones-busqueda{
   display: flex;
    width: 100%;
    justify-content: center;
    margin-left: auto;
   
  }
/*   
  .button-30:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  } */
  .button-31 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #063970 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1.5rem;
    
    margin-top: 0px;
    width: 20vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .barra-busqueda label{
    font-family: 'Outfit', sans-serif !important;
    font-weight: bold;
    font-size: 1.2rem;

  }