

.altura-inicio{
    background-image: url("/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.contenedor-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    height: 82vh;
   
    
}

.input-inicio{
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 10px auto;
    width: 90%;
    border-radius: 5px;
}

.formulario-inicio button{
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
    background-color: #53a1be8e;
    border-radius: 5px;
}
.formulario-inicio button:hover{
    background-color: #53A2BE;
}
.contenedor-flex{
    display: flex;
    align-items: center;
}
.contenedor-inicio span{
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.sinCuenta{
    font-size: 1.1rem;
}
.contenedor-flex button{
    background-color: white !important;
}