
.contenedor-general-productos{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}



.producto{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 12vw;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid rgba(0, 0, 0, 0.437);
    border-radius: 10px;
    background-color: rgba(71, 114, 159, 0.531);
   
}
.producto span{
    font-size: 1.2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.input-precio{
    font-size: 1rem !important;
    width: 100px !important;
    height: 20px !important;
    margin-right: 10px;
    
}
.fotos-productos{
    display: flex;
    width: 100%;
    height: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.437);
}